{% extends 'checklist/base.html' %} {% block content %}

<div class="text-center">
  <h1>Degree List</h1>
</div>
<div class="container-fluid">
<ul class="list-group-item">
  {% for training in trainings %}
  <li class="list-group-item p-2 pb-3">
    <li><span>Degree Name: </span> <span>{{training.name}}</span></li>
    <li><span>Degree Abbreviation: </span> <span>{{training.abbrev}}</span></li>
  </li>
  {% endfor %}

    {% for dept in trainings.dept_set.all %}    <!--this data isn't showing up-->
    <li class="list-group-item p-2 pb-3">
      <li><span>Department Name: </span> <span>{{dept.name}}</span></li>
    </li>
    {% endfor %}

  {% for field in fields %}
  <li class="list-group-item p-2 pb-3">
    <li><span>Field Name: </span> <span>{{field.name}}</span></li>
    <li><span>Field Abbreviation: </span> <span>{{field.abbrev}}</span></li>
  </li>
  {% endfor %}

 <!--
  {% for c in course_list %}
  <li class="list-group-item p-2 pb-3">
    <li><span>Course Name: </span> <span>{{course_list.name}}</span></li>
    <li><span>Course Prerequisite: </span> <span>{{course_list.prereq.name}}</span></li>
  </li>
  {% endfor %}
-->

</ul>
</div>
{% endblock %}