{% extends 'checklist/base.html' %} {% block content %}

<div class="text-center">
  <h1>Search By</h1>
</div>

</br>


<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><a href="?order_by=programs__level_abbrev">Degree Level Abbreviation</a></th>
        <th><a href="?order_by=programs__major_abbrev">Major Abbreviation</a></th>
        <th><a href="?order_by=courses__subj_abbrev">Subject Abbreviation</a></th>
        <th><a href="?order_by=courses__no">Course Number</a></th>
        <th><a href="?order_by=is_core">Is Core</a></th>
        <th><a href="?order_by=is_major">Is Major</a></th>
        <th><a href="?order_by=is_degree">Is Degree</a></th>
        </tr>
    </thead>

    <tbody>
      <tr>
        {% for pc in programcourses_list %}
        <td>{{ pc.programs.level_abbrev }}</td>
        <td>{{ pc.programs.major_abbrev }}</td>
        <td>{{ pc.courses.subj_abbrev }}</td>
        <td>{{ pc.courses.no }}: {{ pc.courses.name }}</td>
        <td>{{ pc.is_core }}</td>
        <td>{{ pc.is_major }}</td>
        <td>{{ pc.is_degree }}</td>
      </tr>
      {% endfor %}
      <tr>
    </tbody>
  </table>
</div>

{% endblock %}



