{% extends 'checklist/base.html' %} {% block content %}

<div class="text-center">
  <h1>Search for Checklist</h1>
</div>

</br>

<div class="container">
  <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="Submit" class="btn btn-secondary" />
  </form>
</div>

</br>
</br>
<div class="container">
  {% if form.is_valid and search_input %}
  <h3>Search results for {{search_input}}</h3>
  
  <ul class="list-group">
    {% for program in programs %}
    <li class="list-group-item">
      <span>Program: <a href="{% url 'program-info' program.pk %}#1">{{program}}</a> 
      </span>
    </li>
    {% endfor %}
  </ul>
    {% endif %}
</div>

</br>

{% comment %}
<!-- 
<div class="container" id="#1">
  {% for program.pk %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Subject Abbreviation</th>
        <th>Course Number</th>
        <th>Is Core</th>
        <th>Is Major</th>
        <th>Is Degree</th>
        </tr>
    </thead>

    <tbody>
      <tr>
        {% for pc in programcourses_list %}
        <td>{{ pc.courses.subj_abbrev }}</td>
        <td>{{ pc.courses.no }}: {{ pc.courses.name }}</td>
        <td>{{ pc.is_core }}</td>
        <td>{{ pc.is_major }}</td>
        <td>{{ pc.is_degree }}</td>
      </tr>
      {% endfor %}
      <tr>
    </tbody>
  </table>
</div>

-->
{% endcomment %}

{% endblock %}



